* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-container {
    display: flex;
    width: 600px;
    height: 600px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 2px solid red;
}

.box {
    border-style: groove;
}